.root {
    -fx-background-color: #383838;
    /*-fx-font-size: 10pt;*/
}

.label {
    -fx-text-fill: #e8e8e8;
}

.button {
    -fx-background-color: linear-gradient(#dc9656, #ab4642);
    -fx-text-fill: #fff;
    -fx-background-radius: 4;
}

.button-blue {
    -fx-background-color: #7cafc2;
    -fx-text-fill: #5e4e51;
    -fx-background-radius: 4;
}

#bold-label {
    -fx-font-weight: bold;
}